header {
  background-color: #416165;
  border-bottom: 5px solid #0b3948;
  padding: 20px 0;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

header h1 a:hover {
  color: #d9dbf1;
}
